
    <header class="v-header container">
      <div class="fullscreen-video-wrap">
        <video src="assets/home.mp4"
          autoplay="true" loop="true">
        </video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content text-md-center">
        <div class="row">
          <div class="col-md-6 col-img animated bounceInLeft">
            <img src="assets/student.svg" id="lock">
          </div>
          <div class="col-md-6 col-img animated bounceInRight">
              <img src="assets/project-provider.svg" id="lock">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6 col-btn animated bounceInUp">
            <button routerLink="/student-login" class="btn btn-success btn-lg basic-btn" mdTooltip="Tooltip!">Student</button>
          </div>
          <div class="col-md-6 col-btn animated bounceInUp">
            <button routerLink="/project-provider-login" class="btn btn-success btn-lg basic-btn"> Project Provider</button>
          </div>
        </div>
      </div>
    </header>
    
  