.card-header{
    background: #78949C;
    color:white;
    text-align: center;
}
.card-data{
     background: #F38071;
     color:white;
}
.text-filter{
    color:white;
}
.filter{
    color:white;
}
