/* You can add global styles to this file, and also import other style files */
body {
    background:#E2E4E6;
    padding-top:4em;
}

.form-container {
    background:white;
    padding:3.5em;
    width:1100px;
    left:20%;
    margin-left:-250px;
}
.card-header{
    background: #78949C;
    color:white;
    text-align: center;
    width:1100px;
    margin-left:-60px;
}

.basic-btn {
    background: #3B8598;
    color:white;
     transition: transform 300ms ease-in-out;
    transition: 600ms ease-in-out;
}
.basic-btn:hover {background-color: #3e8e41;
transform: scale(1.1, 1.1);
border-radius: 15px;
}

input.txt {
    background:#fff !important;
    border: 1px solid #BBBBBB;
    transition: transform 300ms ease-in-out;
    transition: 600ms ease-in-out;
}
input.txt:hover {
  background: rgba(51,51,51,0.8);
  transform: scale(1.1, 1.1);
  border: 2px #0D98E9 solid;
  border-radius: 15px;
}


.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
